<!doctype html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">

    <meta itemprop="name" content="<%= title %>" />
    <meta itemprop="description" content="<%= description %>" />
<% if (typeof metaImage === 'string') { %>
    <meta itemprop="image" content="<%- metaImage %>" />
<% } %>

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
<% if (typeof og === 'object') { %>
    <meta property="og:type" content="<%= og.type %>" />
    <meta property="og:image" content="<%= og.image %>" />
    <meta property="og:url" content="<%= og.url %>" />
    <meta property="og:site_name" content="<%= og.siteName %>" />
<% } %>

<% if (typeof twitter === 'object') { %>
    <meta name="twitter:card" content="<%= twitter.card %>" />
    <meta name="twitter:site" content="<%= twitter.site %>" />
<% } %>

<% styles.forEach(style => { %>
    <link rel="stylesheet" href="<%- style %>">
<% }) %>

    <script>
        /*
         * check client device support webp
         */
        var isProduction = '<%- process.env.NODE_ENV %>' === 'production';
        var features = ['webp', 'webplossless', 'webpalpha', 'webpanimation'];
        var kTestImages = {
            webp: "UklGRiIAAABXRUJQVlA4IBYAAAAwAQCdASoBAAEADsD+JaQAA3AAAAAA",
            webplossless: "UklGRhoAAABXRUJQVlA4TA0AAAAvAAAAEAcQERGIiP4HAA==",
            webpalpha: "UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAARBxAR/Q9ERP8DAABWUDggGAAAABQBAJ0BKgEAAQAAAP4AAA3AAP7mtQAAAA==",
            webpanimation: "UklGRlIAAABXRUJQVlA4WAoAAAASAAAAAAAAAAAAQU5JTQYAAAD/////AABBTk1GJgAAAAAAAAAAAAAAAAAAAGQAAABWUDhMDQAAAC8AAAAQBxAREYiI/gcA"
        };
        function checkWebpFeature(feature, callback) {
            var img = new Image();
            img.onload = function () { callback(feature, isProduction && img.width > 0 && img.height > 0) };
            img.onerror = function () { callback(feature, false) };
            img.src = "data:image/webp;base64," + kTestImages[feature];
        }
        for (var i = 0, l = features.length; i < l; i += 1) {
            checkWebpFeature(features[i], function (feature, result) {
                var prefix = !result ? 'no-' : '';
                document.documentElement.className += ' ' + prefix + feature;
            })
        }
    </script>
</head>
<body>
