<%
const metaImage = 'https://2019-03-02-webp.netlify.com/images/ogp.jpg';
const config = {
    title: '祝Firefox&Edge対応！WebPについて諸々 2019/3/2 @ Frontend Nagoya #9',
    description: '祝Firefox&Edge対応！WebPについて諸々 2019/3/2 @ Frontend Nagoya #9 のサンプル、参考資料をまとめたページです',
    styles: ['/css/index.css'],
    scripts: [
        'https://cdn.polyfill.io/v2/polyfill.js?features=default-3.4,IntersectionObserver',
    ],
    metaImage,
    og: {
        type: 'website',
        image: metaImage,
        url: 'https://2019-03-02-webp.netlify.com/',
        siteName: '祝Firefox&Edge対応！WebPについて諸々 2019/3/2 @ Frontend Nagoya #9'
    },
    twitter: {
        card: 'summary_large_image',
        site: '@junkjunctions',
    }
};
const imagePath = '/images';
const features = ['webp', 'webplossless', 'webpalpha', 'webpanimation'];
const kvs = ['f_1', 'f_2', 'u_1', 'u_2'];
const documents = [
    ['Wikipedia - WebP', 'https://ja.wikipedia.org/w/index.php?title=WebP&type=revision&diff=34299411&oldid=34299133'],
    ['発音 その1', 'https://www.youtube.com/watch?v=pS8udLMOOaE&t=18'],
    ['発音 その2', 'https://www.youtube.com/watch?v=pS8udLMOOaE&t=25'],
    ['発音 その3', 'https://www.youtube.com/watch?v=pS8udLMOOaE&t=629'],
    ['A new image format for the Web', 'https://developers.google.com/speed/webp/'],
    ['画像の最適化を自動化する#WebP について', 'https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/automating-image-optimization/?hl=ja#what-is-webp'],
    ['Using WebP Images', 'https://css-tricks.com/using-webp-images/'],
    ['.htaccessによるWebPの選択的レスポンスとその問題点と改善案', 'https://qiita.com/miyanaga/items/6570c3c9ae8e15dbb57c'],
    ['Can I Use - WebP image format', 'https://caniuse.com/#feat=webp'],
    ['Transparent JPG (With SVG)', 'https://css-tricks.com/transparent-jpg-svg/'],
    ['AdobeWebM', 'https://github.com/fnordware/AdobeWebM'],
    ['Squoosh', 'https://squoosh.app'],
];
const materials = [
    ['Unsplash', 'https://unsplash.com/'],
    ['unDraw', 'https://undraw.co/'],
    ['TOWN illust', 'http://town-illust.com/'],
    ['Giphy', 'https://giphy.com/'],
];
const environments = [
    ['MacbookPro', 'Mid 2015, 15inch, 2.5GHz Intel Corei7, 512GB SSD, 16GB 1600 MHz PC3-12800 DDR3L SDRAM'],
    ['macOS', '10.14.3'],
    ['node', 'v10.15.0'],
    ['gulp', '4.0.0'],
    ['imagemin', '6.1.0'],
    ['imagemin-mozjpeg', '8.0.0'],
    ['imagemin-pngquant', '7.0.0'],
    ['imagemin-webp', '5.0.0'],
    ['imagemin-gif2webp', '2.0.0'],
];

%>

<%- include('./common/_head.ejs', { ...config }) %>

<main id="main" class="Main" role="main">
    <div class="Main__inner">
        <h1 class="Header">
            祝Firefox&Edge対応！WebPについて諸々<br>
            2019/3/2 @ Frontend Nagoya #9
        </h1>
        <script async class="speakerdeck-embed" data-id="0be06eae7be04749a4b67a7cde8d9ba9" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
        <section class="Samples">
            <h2 class="Samples__header">
                制作物
            </h2>
            <ul>
                <li>
                    <a href="support.html">ブラウザサポート状況確認</a>
                </li>
                <li>
                    <a href="diff.html">画質比較用</a>
                </li>
                <li>
                    <a href="https://docs.google.com/spreadsheets/d/1Ckz3OuMxBAgQ40T-_f3RDQqc1FcLyEp3usXkkD32vOc/edit?usp=sharing">
                        サイズ一覧
                    </a>
                </li>
            </ul>
        </section>
        <section class="Documents">
            <h2 class="Documents__header">
                参考資料
            </h2>
            <ul>
            <% documents.forEach(([title, url]) => { %>
                <li><a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= title %></a></li>
            <% }) %>
            </ul>
        </section>

        <section class="Documents">
            <h2 class="Documents__header">
                素材拝借
            </h2>
            <ul>
            <% materials.forEach(([title, url]) => { %>
                <li><a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= title %></a></li>
            <% }) %>
            </ul>
        </section>

        <section class="Environments">
            <h2 class="Environments__header">
                動作環境
            </h2>
            <dl>
            <% environments.forEach(([title, desc]) => { %>
                <dt><%= title %>:</dt>
                <dd style="text-indent: 1em; margin-bottom: 1em;"><%= desc %></dd>
            <% }) %>
            </dl>
        </section>

        <section class="ETC">
            <h2 class="ETC__header">
                その他
            </h2>
            <ul>
                <li>
                    <figure>
                        <img src="/images/japan-clip-path.svg" alt="名古屋城を日本地図でくり抜いた写真">
                        <figcaption>おまけ: jpgをbase64でSVGに埋めつつclip-pathで切り抜いた例</figcaption>
                    </figure>
                </li>
            </ul>
            <ul>
                <li>Background photo: Converge live @ Nagoya E.L.L.</li>
            </ul>
        </section>
    </div>
</main>

<%- include('./common/_foot.ejs', { ...config }) %>
