<%
const config = {
    title: 'top',
    description: 'This is top page',
    styles: ['/css/index.css'],
    scripts: [
        'https://cdn.polyfill.io/v2/polyfill.js?features=default-3.4',
        '/js/vendor.bundle.js',
        '/js/index.js'
    ],
    metaImage: 'https://dummyimage.com/600x400/333/ddd.png&text=Dummy+image',
};
const imagePath = '/images';
const features = ['webp', 'webplossless', 'webpalpha', 'webpanimation'];
const kvs = ['f_1', 'f_2', 'u_1', 'u_2'];
%>

<%- include('./common/_head.ejs', { ...config }) %>

<main id="main" class="Main" role="main">
    <div class="Main__inner">
        <h1 class="Header">WebP samples</h1>
        <section class="SupportTable">
            <div class="SupportTable__inner">
                <h2 class="SupportTable__header">
                    Device support table
                </h2>
                <table class="SupportTable__table">
                    <thead class="SupportTable__thead">
                        <tr class="SupportTable__tr">
                        <% features.forEach(feature => { %>
                            <th class="SupportTable__th -<%= feature %>"><%= feature %></th>
                        <% }) %>
                        </tr>
                    </thead>
                    <tbody class="SupportTable__tbody">
                        <tr class="SupportTable__tr">
                        <% features.forEach(feature => { %>
                            <td class="SupportTable__td -<%= feature %>"></th>
                        <% }) %>
                        </tr>
                    </tbody>
                </table>
                <pre class="SupportTable__ua"><code class="-js-ua SupportTable__code"></code></pre>
            </div>
        </section>
        <section class="KV">
            <div class="KV__inner">
                <h2 class="KV__header">picture + label</h2>
                <ul class="KV__list">
                <% kvs.forEach((key, i) => { %>
                    <li class="-js-image KV__cell" <%= i !== 0 ? 'hidden' : '' %>>
                        <picture class="KV__picture">
                        <% if (process.env.NODE_ENV === 'production') { %>
                            <source type="image/webp" srcset="<%= imagePath %>/<%= key %>.webp" class="KV__image -webp">
                        <% } %>
                            <img src="<%= imagePath %>/<%= key %>.jpg" alt="" class="KV__image -img">
                        </picture>
                    </li>
                <% }) %>
                </ul>
                <ul class="KV__thumbnail Thumbnail">
                <% kvs.map(key => ({ key, id: `thumbnail-${key}` })).forEach(({ key, id }, i) => { %>
                    <li class="Thumbnail__cell">
                        <input type="radio" name="thumbnail-radio" id="<%= id %>" class="-js-input Thumbnail__input" value="<%= i %>" hidden <%= i === 0 ? 'checked' : '' %>>
                        <label for="<%= id %>" class="Thumbnail__label" role="button">
                            <picture class="Thumbnail__picture">
                            <% if (process.env.NODE_ENV === 'production') { %>
                                <source type="image/webp" srcset="<%= imagePath %>/<%= key %>.webp" class="Thumbnail__image -webp">
                            <% } %>
                                <img src="<%= imagePath %>/<%= key %>.jpg" alt="" class="Thumbnail__image -img">
                            </picture>
                        </label>
                    </li>
                <% }) %>
                </ul>
            </div>
        </section>
    </div>
</main>

<%- include('./common/_foot.ejs', { ...config }) %>
